body {
    background-color:black !important;
    padding-bottom: 40px;
    height: 200px;
}

nav{
 font-family: 'Architects Daughter', cursive;
 text-align: center;

}

.story{
     font-family: 'Quattrocento', serif;
     color:cornsilk;
     text-align: center;
     font-size: 36px;
     font-weight: bold;
     margin-bottom: 50px;
     margin-top: 25px;
}
#about{
   
    color: white;
    float: left;
    font-family: 'Quattrocento', serif;
    text-indent: 50px;
    padding: 10px;
    font-size: 16px;
}
ul {
    font-size: 20px;
}

.w3-container{
    
    margin-top: 50px;
    text-align: center;
    position: static;
    
}
#header1{
    font-family: 'Quattrocento', serif;
    font-size: 50px;
    text-shadow: 4px 3px dimgray;
    
}


.carousel {
        margin-top: 0px;;
      margin-bottom: 60px;
    }

.carousel-control {
      height: 280px;
      margin-top: 100px;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

.carousel .item {
      height: 500px;
    }

.carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
}

.carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      margin-left: 100px;
    }

.carousel-caption h1,
.carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      text-shadow: 0 4px 3px rgba(0,0,0,.4);
      color: white;
      font-family: 'Quattrocento', serif;
    }
    
.carousel-caption .btn {
      margin-top: 10px;
    }

.marketing{
    background-color: white;
}
.marketing .col-md-6 {
      text-align: center;
    }
.marketing h2 {
      font-weight: normal;
      font-family: 'Quattrocento', serif;
    }
.marketing .col-md-6 p {
      margin-left: 10px;
      margin-right: 10px;
      font-family: 'Quattrocento', serif;
    }

#event2 img{
    width: 500px;
    height: 100%;
    margin-bottom: 10px;
}

/* Profile cards on About webpage */



.card {
    box-shadow: 0 4px 8px 0 dimgrey, 0 6px 20px 0 dimgray;
    max-width: 275px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
    
    
}

.container about{
    padding: 16px 16px;
    
    
}

.title {
    color: grey;
    font-size: 18px;
    

}